@mixin ripples($ripple-color: $white) {
    position: relative;
    overflow: hidden;

    .ripple {
        background-color: rgba($ripple-color, .16);
    }

    &.ripples-primary .ripple {
        background-color: rgba($primary, .16);
    }

    &.ripples-light .ripple {
        background-color: rgba($white, .16);
    }

    &.ripples-dark .ripple {
        background-color: rgba($black, .16);
    }
}

.ripple-effect {
    @include ripples($white);
}

.ripple {
    position: absolute;
    border-radius: 50%;
    transition: .6s;
    animation: ripple 0.3s ease-out;
}

@keyframes ripple {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}